h1{
    text-align: center;
    color: white;
    background-color: black;
    height: 40px;
    font-size: 30px;
    padding-top: 50px;
}



nav ul li a{
    text-decoration: none;
    color: white;

}



nav{
    text-align: center;
    margin: 100px;
}



nav ul li{
    display: inline-block;
    padding: 20px;
}



h2,p{
    text-align: center;
    margin: 100px;
}




p{margin: 5px;}




header{background-color: black;}





body{background-color: wheat;}






h2{font-size: 35px;list-style: armenian;}




#firstdiv {margin-top: 100px;margin-bottom: 100px;padding: 10px;}






#seconddiv {margin-top: 100px;margin-bottom: 100px;padding: 10px;}





h3{text-align: center;font-size: 20px;}


* {
    padding: 0;
  }
  
  ul {
    /* if you want the standard bullets, use 'disc' instead of 'circle' */
    list-style: disc;
    list-style-position: inside;
    padding-top: 10px;
    
  }





  ol {
    list-style-type:upper-alpha;
    list-style-position: inside;
    
    padding-top: 10px;
  }






  ol , ul {
      text-align: center;
  }






li{padding:10px;}





footer{background-color: black;color: white;}





main{

    height: 700px;;

}




img{

    margin-left: 570px;

}

